<header class="masthead">
    <nav class="language-nav">
        <ul>
            <li><a href="#">CSS</a><li>
            <li><a href="#">HTML</a><li>
            <li><a href="#">Javascript</a><li>
            <li><a href="#">Ruby</a><li>
        </ul>
    </nav>
    <img class="logo" src="assets/example_image.jpg">
    <ul class="masthead-links">
        <li>
            <time>Tuesday, October 18, 2016</time>
        </li>
        <li>
            <i class="far fa-newspaper">Today’s Paper</i>
        </li>
        <li>
            <i class="fas fa-video">Video</i>
        </li>
        <li>
            <button>77°F</button>
        </li>
        <li>
            <button>AAO <strong>+100%</strong></button>
        </li>
</header>

